img {
    height: auto;
    width: auto;
}

h1, h2, h3 {    
    text-align: center;
}

h1 {
    background-color: rgba(122,122,122,0.6);
}

h2 {
    background-color: rgba(184,184,184,0.6);
}

h3 {
    background-color: rgba(244,244,244,0.6);
}

.middle-align{
    text-align: center;
}
